<div class="form-row">
        <label for="exampleFormControlSelect1" class="col-sm-1 col-form-label">{{ 'generic.batch-actions.action'|trans }}</label>
        <div class="col-sm-2">
            <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="pl-1">
            <button type="submit" class="btn btn-sm btn-info">
                {{ 'generic.batch-actions.go'|trans }}
            </button>
        </div>
</div>
