
body {
    /*min-height: 75rem;*/
    padding-top: 4.5rem;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;

}

.navbar-nav .nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-dark .navbar-nav .active>.nav-link {
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
