<nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('index') }}">{{ 'navbar.navbar-brand'|trans }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class=" mr-auto"></div>
        <ul class="navbar-nav">
        {% for item in navbar %}
            <li class="nav-item {% if item.isActive %}active{% endif %}">
                <a class="nav-link" href="{{ path(item.route) }}">{{ item.translationKey|trans }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</nav>